@page "/"

<PageTitle>Krishan - Home</PageTitle>

<div class="detel">
    <h1>I'm Krishan <span>Samarawickrama</span></h1>
    <p>
        This is my official portfolio website to show all my work experience in software development.
    </p>
    <a href="files/Krishan_Samarawickrama.pdf" download>DOWNLOAD CV</a>
    <div class="images">
        <img src="images/shape.png" class="shape" alt=""/>
        <img src="images/girl.png" class="girl" alt=""/>
    </div>
</div>